@page
@model Tasker.Pages.Index

@{
    Layout = null;
    ViewData["Title"]= "Index"
}

<!DOCTYPE html>

<html>
<head>
    <title><h1>All Tasks</h1></title>
</head>
<body>
<div>
    
</div>
</body>
</html>